
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Carvilla</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/Theme/AdminPanel/plugins/fontawesome-free/css/all.min.css">
    <!-- IonIcons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Theme/AdminPanel/dist/css/adminlte.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Theme/AdminPanel/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Theme/AdminPanel/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Theme/AdminPanel/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="~/Theme/AdminPanel/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/Theme/AdminPanel/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/Theme/AdminPanel/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/Theme/AdminPanel/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- Bootstrap4 Duallistbox -->
    <link rel="stylesheet" href="~/Theme/AdminPanel/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
    <!-- BS Stepper -->
    <link rel="stylesheet" href="~/Theme/AdminPanel/plugins/bs-stepper/css/bs-stepper.min.css">
    <!-- dropzonejs -->
    <link rel="stylesheet" href="~/Theme/AdminPanel/plugins/dropzone/min/dropzone.min.css">
</head>
<!--
`body` tag options:

  Apply one or more of the following classes to to the body tag
  to get the desired effect

  * sidebar-collapse
  * sidebar-mini
-->
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="@Url.Action("Cikis", "Admin")" class="nav-link">Çıkış</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="@Url.Action("Index", "Admin")" class="brand-link">
                <img src="~/Theme/AdminPanel/dist/img/favicon.png" alt="eLogo Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light"><b> CARVILLA</b></span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="info">
                        <a href="#" class="d-block">@Session["AdminName"]</a>
                    </div>
                </div>

                <!-- SidebarSearch Form -->
                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Admin")" class="nav-link active">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Anasayfa</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("KullaniciEkle", "Admin")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Kullanıcı Ekleme</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("KullaniciDuzenle", "Admin")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Kullanıcı Düzenleme</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("AracEkle", "Admin")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Araç Ekleme</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("AracDuzenle", "Admin")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Araç Düzenleme</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Satislar", "Admin")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Satışlar</p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0"><b>CARVILLA</b></h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Admin")">Admin</a></li>
                                <li class="breadcrumb-item active">@ViewBag.Title</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            @RenderBody()

            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2021-2024 <a href="#">CARVILLA</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 3.2.0
            </div>
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/Theme/AdminPanel/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Theme/AdminPanel/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE -->
    <script src="~/Theme/AdminPanel/dist/js/adminlte.js"></script>

    <!-- OPTIONAL SCRIPTS -->
    <script src="~/Theme/AdminPanel/plugins/chart.js/Chart.min.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/Theme/AdminPanel/dist/js/pages/dashboard3.js"></script>

    <!-- DataTables  & Plugins -->
    <script src="~/Theme/AdminPanel/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Theme/AdminPanel/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Theme/AdminPanel/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Theme/AdminPanel/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/Theme/AdminPanel/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Theme/AdminPanel/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Theme/AdminPanel/plugins/jszip/jszip.min.js"></script>
    <script src="~/Theme/AdminPanel/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/Theme/AdminPanel/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/Theme/AdminPanel/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Theme/AdminPanel/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/Theme/AdminPanel/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Theme/AdminPanel/dist/js/adminlte.min.js"></script>

    <!-- Select2 -->
    <script src="~/Theme/AdminPanel/plugins/select2/js/select2.full.min.js"></script>
    <!-- InputMask -->
    <script src="~/Theme/AdminPanel/plugins/moment/moment.min.js"></script>
    <script src="~/Theme/AdminPanel/plugins/inputmask/jquery.inputmask.min.js"></script>
    <!-- dropzonejs -->
    <!--<script src="~/Theme/AdminPanel/plugins/dropzone/min/dropzone.min.js"></script>-->

    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
</body>
</html>

