
@{
    ViewBag.Title = "SifreSifirla";
    Layout = null;
}

<!DOCTYPE html>

<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sifre Sifirlama</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="~/Theme/AdminPanel/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/Theme/AdminPanel/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/Theme/AdminPanel/dist/css/adminlte.min.css">
</head>
<body class="hold-transition register-page">
    <div class="register-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="#" class="h1"><b>CARVILLA</b></a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Şifre Sıfırlama</p>

                <form action="@Url.Action("SifreSifirla", "Login")" method="post">
                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-success">
                            @TempData["ErrorMessage"]
                        </div>
                    }
                    <div class="input-group mb-3">
                        @Html.TextBox("kullaniciAdi", null, new { @class = "form-control", placeholder = "Kullanıcı Adı" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.TextBox("tcNo", null, new { @class = "form-control", placeholder = "TC" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.Password("sifre", null, new { @class = "form-control", placeholder = "Yeni Şifrenizi Giriniz" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.Password("sifreTekrar", null, new { @class = "form-control", placeholder = "Şifreyi Tekrar Giriniz" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Parolayı Değiştir</button>
                        </div>
                    </div>
                </form>

                <a href=@Url.Action("Index", "Login") class="text-center">Geri Dön</a>
            </div>
        </div>
    </div>
    <script src="~/Theme/AdminPanel/plugins/jquery/jquery.min.js"></script>
    <script src="~/Theme/AdminPanel/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Theme/AdminPanel/dist/js/adminlte.min.js"></script>
</body>
</html>
